<a href="https://colab.research.google.com/github/Abhy611/Naive-Bayes-Classifier-/blob/main/PRN_31_Naive_Bayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Building a Naive Bayes Classifier to predict whether a person makes over 50K a year.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/adult (1).csv')

In [ ]:
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.isnull().any()

39                False
 State-gov        False
 77516            False
 Bachelors        False
 13               False
 Never-married    False
 Adm-clerical     False
 Not-in-family    False
 White            False
 Male             False
 2174             False
 0                False
 40               False
 United-States    False
 <=50K            False
dtype: bool

In [ ]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder() #Label Encoding
for i in df.columns:
  if df[i].dtype == 'object':
    df[i]=enc.fit_transform(df[i])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  int64
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  int64
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  int64
 6    Adm-clerical   32560 non-null  int64
 7    Not-in-family  32560 non-null  int64
 8    White          32560 non-null  int64
 9    Male           32560 non-null  int64
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  int64
 14   <=50K          32560 non-null  int64
dtypes: int64(15)
memory usage: 3.7 MB

In [ ]:
columns = ['0','1','2','qualification','4','5','6','7','8','9','10','11','12','13','income']
df.columns = columns

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   0              32560 non-null  int64
 1   1              32560 non-null  int64
 2   2              32560 non-null  int64
 3   qualification  32560 non-null  int64
 4   4              32560 non-null  int64
 5   5              32560 non-null  int64
 6   6              32560 non-null  int64
 7   7              32560 non-null  int64
 8   8              32560 non-null  int64
 9   9              32560 non-null  int64
 10  10             32560 non-null  int64
 11  11             32560 non-null  int64
 12  12             32560 non-null  int64
 13  13             32560 non-null  int64
 14  income         32560 non-null  int64
dtypes: int64(15)
memory usage: 3.7 MB

In [ ]:
y=df['income']
X=df.drop(['income'],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = gnb.predict(X_test)
y_predt = gnb.predict(X_train)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
result=confusion_matrix(y_test,y_pred)
print("Confsion Matrix")
print(result)
result1=classification_report(y_test,y_pred)
print("Classification Report")
print(result1)
result2= accuracy_score(y_test,y_pred)
print("Accuracy : ", result2)
result3= accuracy_score(y_train,y_predt)
print("Accuracy : ", result3)

Confsion Matrix
[[4672  240]
 [1086  514]]
Classification Report
              precision    recall  f1-score   support

           0       0.81      0.95      0.88      4912
           1       0.68      0.32      0.44      1600

    accuracy                           0.80      6512
   macro avg       0.75      0.64      0.66      6512
weighted avg       0.78      0.80      0.77      6512

Accuracy :  0.7963759213759214
Accuracy :  0.7951858108108109